In [1]:
import json
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [53]:
archivo = input("escriba el nombre del archivo que quiere cargar: ")

def cargar_dataset(archivo):
    if '.csv' in archivo:
        df = pd.read_csv(archivo)
    elif '.xlsx' in archivo:
        df = pd.read_excel(archivo)
    elif '.json' in archivo:
        df = pd.read_json(archivo)
    elif '.html' in archivo:
        df = pd.read_html(archivo)
    return (df)

In [33]:
df1 = cargar_dataset(archivo)
df1.to_csv("cargaCSV.csv")
df1

,Unnamed: 0,id,scrape_id,host_id,host_since,host_is_superhost,host_listings_count,host_total_listings_count,host_verifications,host_has_profile_pic,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,0,1208229396139150589,2.024120e+13,279001183,24/07/19,f,842.0,921.0,"['email', 'phone', 'work_email']",t,...,4.91,4.73,4.73,4.55,t,194,194,0,0,4.23
1,1,1226551214174044599,2.024120e+13,24295514,29/11/14,f,2.0,6.0,"['email', 'phone']",t,...,4.95,4.85,5.00,4.80,f,2,0,2,0,6.06
2,2,1264833485512910590,2.024120e+13,255319514,12/04/19,f,46.0,46.0,"['email', 'phone']",t,...,5.00,5.00,5.00,5.00,t,46,4,42,0,0.77
3,3,1264834761942196027,2.024120e+13,255319514,12/04/19,f,46.0,46.0,"['email', 'phone']",t,...,4.50,4.50,4.50,4.50,t,46,4,42,0,2.00
4,4,929853,2.024120e+13,5007351,07/02/13,f,1.0,1.0,"['email', 'phone']",t,...,5.00,4.50,4.83,4.17,f,1,1,0,0,0.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17712,17712,1305466650690461821,2.024120e+13,7409213,10/07/13,f,237.0,354.0,"['email', 'phone', 'work_email']",t,...,NaN,NaN,NaN,NaN,t,179,179,0,0,NaN
17713,17713,1305545916099249965,2.024120e+13,386932887,01/02/21,f,11.0,14.0,"['email', 'phone']",t,...,NaN,NaN,NaN,NaN,t,11,9,2,0,NaN
17714,17714,1305547378345209569,2.024120e+13,465271405,20/06/22,f,10.0,10.0,['phone'],f,...,NaN,NaN,NaN,NaN,f,10,10,0,0,NaN
17715,17715,1305579456463125891,2.024120e+13,565965713,07/03/24,t,28.0,33.0,"['email', 'phone']",t,...,NaN,NaN,NaN,NaN,f,21,21,0,0,NaN
17716,17716,1305599769915115847,2.024120e+13,56663585,29/01/16,f,10.0,20.0,['phone'],t,...,NaN,NaN,NaN,NaN,f,7,7,0,0,NaN

In [54]:
df2 = cargar_dataset(archivo)
df2.to_csv("cargaXLSX.csv")
df2

,No. CLIENTE,NOMBRE,FACTURA,FECHA_FACTURA,FECHA_VENCIMIENTO,MONTO ADEUDADO
0,6401,DONGA HWASUNG MEXICO,F40238,2023-02-24,2023-03-26,97485.94
1,6401,DONGA HWASUNG MEXICO,F40353,2023-03-14,2023-04-13,97485.94
2,4598,PROVEEDORA DE SEGURIDAD INDUSTRIAL DEL GOLFO,F40352,2023-03-14,2023-04-13,64916.21
3,3930,INDUSTRIAS LANCERMEX,F40217,2023-02-23,2023-03-25,52715.74
4,4712,HELVEX,F40173,2023-02-17,2023-04-03,50639.80
...,...,...,...,...,...,...
159,856,CENTRO DE INVESTIGACION Y DE ESTUDIOS AVANZADO...,F40055,2023-01-31,2023-01-31,56.00
160,5926,PÚBLICO EN GENERAL,NV00777,2023-03-07,2023-03-07,45.00
161,5926,PÚBLICO EN GENERAL,NV00778,2023-03-09,2023-03-09,40.00
162,5926,PÚBLICO EN GENERAL,NV00779,2023-03-09,2023-03-09,24.01
163,8429,FISHERS QUERETARO,F38248,2022-05-27,2022-05-27,19.94

In [52]:
df3 = cargar_dataset(archivo)
df3.to_csv("cargaJSON.csv")
df3

,created,modified,metaData,persistentId,processingOrder,title,titleEnglish,description,isCoveredByGpa,isFrameworkAgreement,...,buyerAssignedId,corrections,isCentralProcurement,isJointProcurement,maxFrameworkAgreementParticipants,maxBidsCount,npwpReasons,isAcceleratedProcedure,documents,isEInvoiceAccepted
0,2024-01-06T11:03:01.747215,2024-02-11 16:24:41.347975,{'indicatorCalculatedDate': '2024-02-11T16:24:...,EU_521239a62ad1bf9370fc7cdb7ffaacc6e05e6f57785...,2023-03-23 19:16:16.55386900,121639 — 865 — Verkeer en Openbare Ruimte — se...,"Architectural, construction, engineering and i...",Gemeente Amsterdam heeft regelmatig behoefte a...,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-01-06T20:27:16.286246,2024-02-11 17:36:15.171939,{'indicatorCalculatedDate': '2024-02-11T17:36:...,EU_874560e51457f5bed3338d9043d7996ce3fa255298f...,2023-03-23 19:28:01.14414900,Vervanging heftafels CLSK CML.,Lifting and handling equipment,a. De levering van 6 heftafels in verschillend...,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2024-01-06T15:30:02.068056,2024-02-11 17:36:15.296745,{'indicatorCalculatedDate': '2024-02-11T17:36:...,EU_dd64bd68d1fa73a08133b3b453013f7498f8de9d2b9...,2023-03-23 19:38:26.56238500,Representatief personenvervoer.,Special-purpose road passenger-transport services,Het afsluiten van een raamovereenkomst met 1 d...,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2024-01-06T10:10:14.755099,2024-02-11 17:29:09.123482,{'indicatorCalculatedDate': '2024-02-11T17:29:...,EU_0ef72258089b6fdbe1ea15a49f22825c2e83153e22e...,2023-03-23 19:21:09.81542800,B1 Dagbesteding Jeugd perceel Nijmegen.,Health and social work services,In de het Regionaal Transitiearrangement Jeugd...,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2024-01-06T08:57:08.788512,2024-02-11 16:14:24.389166,{'indicatorCalculatedDate': '2024-02-11T16:14:...,EU_2eaf3a19393f6733c92d10906aa6223d18ebe5172c3...,2023-03-23 19:23:43.61653100,Flexcapaciteit communicatie Regiokantoor.,Miscellaneous business-related services,De vervulling van deze opdracht dient voor opd...,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17804,2023-02-10T10:17:20.664553579,2023-12-27 19:02:27.043063,{'opentender': True},EU_2bbdd40ade3eaca9318cde5ec7ffc1eef3f15a2aa2d...,2017-05-25 01:14:35.72700000,ICT hardware en digitale schoolborden.,Data-processing machines (hardware),"De opdracht betreft ICT hardware, digitale sch...",1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17805,2023-02-10T11:31:03.156447138,2023-12-27 19:03:14.328078,{'opentender': True},EU_e4ec4eac046172387407644cf0336bcbd97596e37fb...,2017-05-25 01:05:04.19700000,Levering van standaardprogrammatuur en daaraan...,Software supply services,— Onderwerp van de aanbesteding betreft de lev...,1.0,1.0,...,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN
17806,2023-02-10T11:34:12.848966786,2023-12-27 19:03:22.591028,{'opentender': True},EU_cc7cc231d0a0e2e3932c7dd6b4848a593a61068f7c0...,2017-05-25 01:27:48.74300000,NaN,Mail delivery services,NaN,NaN,NaN,...,NaN,[{'original': 'III.1.2) Belangrijkste finan...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17807,2023-02-10T11:37:29.002089152,2023-12-27 19:03:29.172956,{'opentender': True},EU_24efccb64f25e1e706a026cb39d9cdc545620b2a6e7...,2017-05-25 00:51:40.77100000,Raamovereenkomst voor de levering van kantoorm...,Office furniture,Door de gemeente Maastricht is besloten om voo...,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17808,2023-02-10T11:42:23.979951175,2023-12-27 19:03:43.430747,{'opentender': True},EU_c3bc51f3c3b43ac36d1feebfd011e521925b7115c32...,2017-05-25 01:55:17.38700000,Beveiliging stadsbalie gemeente Culemborg.,Security services,De opdrachtgever wil een overeenkomst afsluite...,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [50]:
df4 = cargar_dataset(archivo)
df4[98].to_csv("cargaHTML.csv")
df4[98]

,Country/City,File Name,Description
0,Sydney,listings.csv.gz,Detailed Listings data
1,Sydney,calendar.csv.gz,Detailed Calendar Data
2,Sydney,reviews.csv.gz,Detailed Review Data
3,Sydney,listings.csv,Summary information and metrics for listings i...
4,Sydney,reviews.csv,Summary Review data and Listing ID (to facilit...
5,Sydney,neighbourhoods.csv,Neighbourhood list for geo filter. Sourced fro...
6,Sydney,neighbourhoods.geojson,GeoJSON file of neighbourhoods of the city.